<!DOCTYPE html>
<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <title></title>
    </head>
    <body><h1>HOME</h1>
        {% if is_authenticated %}
        <form action="/auth/logout" method="post">
            {% csrf_token %}
            <input type="submit" value="log out">
        </form>
        {% else %}
        <form action="/auth/loging" method="post">
            {% csrf_token %}
            <input type="text" placeholder="nombre" name="nombre"/>
            <input type="password" placeholder="password" name="password"/>
            <input type="submit" value="log in">
        </form>
        {% endif %}
        
    </body>
</html>
